body {
  background-image: url(/images/BG.webp);
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background: linear-gradient(90deg, #913953, #e2d387); */
  display: flex;
  justify-content: center; /* Center the body content */
  align-items: center; /* Vertically center the content */
  height: 100vh; /* Full viewport height */
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.background .circle-1,
.background .circle-2 {
  position: absolute;
  bottom: 0;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(
    circle farthest-side,
    rgba(255, 0, 182, 0.15),
    rgba(71, 3, 3, 0)
  );
}
.background .circle-1 {
  left: -20%;
  top: -10%;
}
.background .circle-2 {
  right: -20%;
  top: -10%;
}

.navbar {
  width: 100%;
  height: 75px;
  background-color: transparent !important;
  /* background: linear-gradient(90deg, #8f2f4c, #b5a557); */
  color: #f3e5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  position: fixed;
  border-radius: 25px;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.3s;
}

.navbar:hover {
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.5);
}

.navbar h1 {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.container {
  padding-top: 80px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  margin: 100px auto 20px;
  /* background: linear-gradient(90deg, #913953, #e2d387); */
  background-color: transparent !important;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  border-radius: 12px; /* Rounded corners */
  color: #f3e5f5; /* Text color to match navbar */
}

.container1 {
  padding: 20px;
  max-width: 600px;
  height: 70%;
  width: 90%;
  margin: 100px auto 20px;
  background-color: transparent !important;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  border-radius: 12px; /* Rounded corners */
  color: #f3e5f5; /* Text color to match navbar */
}

.input-group,
.vehicle-select,
.results {
  height: 20%;
  margin-bottom: 20px;
  padding: 20px; /* Increased padding for a medium feel */
  border-radius: 8px;
  background-color: #171e2b;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  color: white;
}
.input-group:hover,
.vehicle-select:hover,
.results:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}
label {
  font-size: 25px; /* Increase the font size */
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
  color: white;
}

input,
select {
  width: 90%; /* Full width of the container */
  padding: 15px; /* Increased padding */
  border: 1px solid #f3e5f5;
  border-radius: 8px;
  color: #eed2f2;
  background-color: #3b3d3d;
  transition: border-color 0.3s, background-color 0.3s;
}
input::placeholder {
  color: #eed2f2;
}
input:focus,
select:focus {
  border-color: #ab47bc;
  outline: none;
  background-color: #06171f;
}
button {
  width: 100%;
  padding: 12px; /* Increased padding for a medium feel */
  background: linear-gradient(90deg, #2a0a13, #edcc29);
  color: #f3e5f5;
  border: 2px solid #ab47bc;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
button:hover {
  background: linear-gradient(90deg, #913953, #e2d387);
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #06171f;
  color: #f3e5f5;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
th,
td {
  padding: 12px;
  text-align: center;
  border: 2px solid #394b6d;
  transition: background-color 0.3s, transform 0.3s;
}
th {
  background: linear-gradient(90deg, #2d7198, #334f55);
  /* background-color: transparent !important; */
  color: white;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}
.out-of-range {
  color: #eb510f;
  font-weight: bold;
}
.selected-row {
  background-color: #b0438f;
  color: white;
}
.selected-row:hover {
  background-color: #4a148c;
}
.results {
  max-height: 500px;
  overflow-x: auto;
  margin-top: 20px;
}

/* //////////////////////////// */

.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: rgb(17, 16, 16);
  justify-content: center;
}

.navbar img {
  width: 80px;
  height: auto;
  margin: 0 30px;
}

.navbar h1 {
  font-size: 24px;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  padding: 10px;
  color: #e4e1e8;
}

.navbar h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 215, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
  border-radius: 5px;
}

.hover-animation {
  background-color: transparent !important;
  color: white;
  transform: scale(1.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  position: relative;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #e4e1e8;
  text-decoration: none;
  transition: transform 0.4s ease, border 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.container1 {
  padding: 20px;
  max-width: 600px;
  width: 90%;
  margin: 100px auto 20px;
  background-color: #2a374b;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px; /* Change this to 50% for a perfect circle if width and height are equal */
}

.input-group,
.vehicle-select,
.results {
  margin-top: 10%;
  margin-bottom: 20px;
  padding: 20px; /* Increased padding for a medium feel */
  border-radius: 20px; /* Adjust the border radius for rounded corners */
  background-color: transparent !important;
  box-shadow: 0 10px 30px rgba(11, 10, 10, 0.2);
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  color: white;
}

/* Ensure buttons are also rounded */
button {
  border-radius: 20px;
  margin-top: 5%;
}
@media (max-width: 768px) {
  .navbar h1 {
    font-size: 18px; /* Smaller text size for mobile */
  }
  .navbar img {
    width: 60px; /* Smaller logo size for mobile */
    margin: 0 20px; /* Adjust margin for smaller screens */
  }
}
